<div class="person">
  <div class="avatar">
    {{cdn-avatar-from imageUrl=person.photo_url}}
  </div>
  {{person-details person=person}}
</div>

{{#link-to 'questions.new' tagName="button" class="start"}}Get started{{/link-to}}
